#app-main {
  height: 100%;
  padding: 15px;

  .main-container {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    display: flex;

    .main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fafafa;

      .nav-bar {
        height: 100px;
      }

      .content {
        height: 100%;
      }
    }
  }
}
