<div class="app-category-autocomplete" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      [placeholder]="placeholder"
      matInput
      formControlName="autocomplete"
      [matAutocomplete]="category"
    >
    <mat-error *ngIf="categoryControl.invalid && required">To pole jest wymagane!</mat-error>
    <mat-autocomplete #category="matAutocomplete" [displayWith]="categoryDisplay">
      <mat-option *ngFor="let option of filteredCategories$ | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
