#app-side-bar {
  width: 300px;
  height: 100%;
  position: relative;
  box-shadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.03), 0 1.6rem 2.4rem 0 rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  background: linear-gradient(to top,  rgba(255,255,255,0.85) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%), url('../../../../../assets/images/side-bar-background.jpg') bottom/150% no-repeat;

  .logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 10px;

    img {
      height: 40px;
    }

    .logo-text {
      font-size: 24px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  .navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;

    hr {
      margin: 0;

    }

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: 100%;
      padding: 10px 15px;
      margin: 3px 0;
      border: 1px solid transparent;
      transition: all ease 0.2s;

      &:hover {
        cursor: pointer;
        border-color: #eee;
        border-radius: 4px;
        box-shadow: 0 1px 10px rgba(0,0,0,0.1);
        background-color: var(--primary-color);
        color: #eee;
      }

      img {
        height: 20px;
      }
    }
  }
}
