<div id="app-side-bar">
  <div class="logo">
    <img src="../../../../../assets/images/logo.png" alt="Unitra Database">
    <div class="logo-text">Unitra Database</div>
  </div>
  <ul class="navigation">
    <li>Dashboard</li>
    <li *ngIf="categories.length" class="header">Przeglądanie</li>
    <li *ngFor="let item of categories">{{ item.name }}</li>
    <li routerLink="sets">Zestawy</li>
  </ul>
  <ul class="navigation" *appIsAdmin>
    <li class="header">Administracja</li>
    <li routerLink="admin/categories">Kategorie</li>
    <li routerLink="admin/equipment">Urządzenia</li>
    <li routerLink="admin/sets">Zestawy</li>
  </ul>
</div>
