.app-year-picker {
  .mat-form-field {
    width: 100%;

    .mat-form-field-wrapper {
      .mat-form-field-suffix {
        display: flex;
        align-items: center;

        .mat-icon {
          color: rgba(44, 44, 44, 0.54);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
