#app-image-list {
  width: 100%;

  .image-list {
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        display: flex;
        margin-top: -2px;
      }

      .details {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 5px;
      }

      .actions {
        margin-left: 10px;
        display: flex;
        margin-top: -2px;

        .mat-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
