<div id="app-image-list">
  <ul class="image-list" *ngIf="images.length">
    <li *ngFor="let item of images">
      <div class="icon">
        <mat-icon>image</mat-icon>
      </div>
      <div class="details">
        {{ item.name }}
      </div>
      <div class="size">
        ({{ item.size| filesize }})
      </div>
      <div class="actions" *ngIf="allowDelete">
        <mat-icon color="warn" matTooltip="Usuń" (click)="onDelete(item)">delete</mat-icon>
      </div>
    </li>
  </ul>
</div>
