html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  *:focus {
    outline: none !important;
  }
}

a {
  color: #195514;

  &:hover {
    color: #195514;
  }
}

.mat-snack-bar-container {
  &.error {
    background-color: var(--warn-color);

    .mat-simple-snackbar {
      span {
        color: #fff;
      }
    }
  }
}

.mat-dialog-container {
  padding: 0 !important;
}
