<div id="app-equipment-search">
  <form [formGroup]="searchForm">
    <div class="search-form">
      <mat-form-field appearance="outline">
        <mat-label>Nazwa</mat-label>
        <input matInput placeholder="Nazwa" formControlName="name" />
      </mat-form-field>
      <app-year-picker
        formControlName="productionDateFrom"
        [minDate]="minDate"
        [maxDate]="maxDate"
        placeholder="Od"
        label="Rok produkcji od"
      >
      </app-year-picker>
      <app-year-picker
        formControlName="productionDateTo"
        [minDate]="minDate"
        [maxDate]="maxDate"
        placeholder="Do"
        label="Rok produkcji do"
      >
      </app-year-picker>
      <mat-form-field appearance="outline">
        <mat-label>Numer seryjny</mat-label>
        <input matInput placeholder="Numer seryjny" formControlName="serialNumber" />
      </mat-form-field>
      <app-category-autocomplete
        label="Kategoria"
        placeholder="Kategoria"
        formControlName="category"
      >
      </app-category-autocomplete>
      <mat-form-field appearance="outline">
        <mat-label>Zestaw</mat-label>
        <input
          type="text"
          placeholder="Zestaw"
          matInput
          formControlName="set"
          [matAutocomplete]="set"
        >
        <mat-autocomplete #set="matAutocomplete" [displayWith]="setDisplay">
          <mat-option *ngFor="let option of filteredSets$ | async" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="actions">
      <button mat-button (click)="reset()">Wyczyść</button>
      <button mat-raised-button (click)="submit()">Szukaj</button>
    </div>
  </form>
</div>
